<!-- templates/includes/header.html -->
<header>
  <nav class="navbar shadow-sm">
    <div class="container">
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills align-items-center">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'pages:homepage' %} active {% endif %}"
              href="{% url 'pages:homepage' %}">
              Главная
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'birthday:create' %} active {% endif %}"
              href="{% url 'birthday:create' %}">
              Калькулятор дней рождения
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'birthday:list' %} active {% endif %}" href="{% url 'birthday:list' %}">
              Cписок дней рождения
            </a>
          </li>
          {% if user.is_authenticated %}
            <span class="navbar-text ms-2 me-2">Пользователь: <b>{{ user.username }}</b></span>
            <!-- Новая кнопка -->
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'password_change' %} active {% endif %}"
                href="{% url 'password_change' %}">Изменить пароль</a>
            </li>
            <!-- Заменено: POST-форма вместо ссылки GET -->
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link p-0 ms-2">Выйти</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}">Войти</a>
            </li>
            <!-- Новая кнопка -->
            <li class="nav-item">
              <a class="nav-link{% if view_name == 'registration' %} active {% endif %}" href="{% url 'registration' %}">Регистрация</a>
            </li>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>